html {
  background-color: black;
}

h1, h2, h3, h5 {
  color: aquamarine;
  font-family: "Anonymous Pro";
}

h4 {
  font-family: "Anonymous Pro";
}

Link > h3 {
  color: "#6600ff"
}

#navbar {
  display: flex;
  justify-content: flex-end
}

.navbar_link {
  margin-right: 10%
}

#login {
  margin-top: 10%;
  text-align: center;
}

.button {
  margin: 1%;
}

#welcome_text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#welcome_links {
  display: flex;
  width: 30%;
  align-self: center;
  justify-content: space-around;
}

#portfolio_container {
  display: flex;
  flex-direction: column;
}

#portfolio_header {
  align-self: center;
}

#portfolio_body {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
  align-items: center;
}

.portfolio_item {
  display: flex;
  margin: 10%
}

.form_item {
  align-self: center;

}

#stock_list {
  width: 200%
}

.stock {
  display: flex;
  width: 150%
}

.stock_item {
  margin: 2%
}

#transaction_container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.transaction_title {
  text-align: center;
  width: 80%;
}

.map_transactions {
  align-self: center;
}

#loading {
  text-align: center;
  margin-top: 5%;
}
